* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  user-select: none;
}

button {
  margin-top: 10px;
  background-color: #a972ba;
  border: 1px solid #9c69aa;
  color: white;
  padding: 10px;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: #A972BA;
}


button:focus {
  outline:none;
}