.about-me {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.left {
    flex: 7;
}

.left p {
    text-indent: 35px;
    padding: 20px;
}

.right {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.about-logo {
    width: 250px;
}

.bold {
    font-weight: 700;
}

@media only screen and (max-width : 991px) {
    .about-me {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
}

@media only screen and (max-width : 767px) {
    
}

@media only screen and (max-width : 479px) {
    /* Styles */
}