.skills {
    padding: 0 20px;
    min-height: 30vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-container {
    max-height: 110px;
    max-width: 200px;
    margin: 10px 40px;
}

.skill-container img {
    max-height: inherit;
    max-width: inherit;
}