#hero {
    min-height: 500px;
    height: inherit;
    width: 100%;
    /* padding-top: 125px; 
    margin-top: -65px; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#hero::before {
    content:"";
    display:block;
    height:80px; /* fixed header height*/
    margin:-80px 0 0; /* negative fixed header height */
    }


.hero-image {
    width: 84px;
    height:84px;
    border-radius: 100%;
}

.hero-heading {
    color: #333;
    font-size: 35px;
    font-family: "Oswald", Impact, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 15px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 100%;
    background-color: #333;

    display: flex;
    align-items: center;
    justify-content: center;

}

.icon:hover {
    background-color: #a972ba;
    cursor: pointer;
}

.icon img {
    width: 16px;
}